xml/schema/sudokuSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sudoku">
    <xs:complexType>
      <xs:sequence>
        <!-- Zeilen des Sudoku  !-->
        <xs:element name="zeile" minOccurs="9" maxOccurs="9">
          <xs:complexType>
            <xs:sequence>
              <!-- Felder des Sudoku  !-->
              <xs:element name="feld" minOccurs="9" maxOccurs="9">
                <!-- Attribute des Feldes  !-->
                <xs:complexType>
                  <xs:attribute type="wertTyp" name="wert" use="required" />
                  <xs:attribute type="positionTyp" name="position" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Attribute der Zeile!-->
            <xs:attribute type="positionTyp" name="position" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Positionstyp Zahlen 0-9(Inklusiv) 0 Als Leeres Feld 1-9 als Beschriebene Felder !-->
  <xs:simpleType name="wertTyp">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Positionstyp Zahlen 1-9(Inklusiv) dient nur als orientierung für Menschen. !-->
  <xs:simpleType name="positionTyp">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>